* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored

# Files and directories to exclude from exports (archives)
CHANGELOG.md export-ignore
.styleci.yml export-ignore
.github export-ignore
.editorconfig export-ignore
.gitignore export-ignore
phpunit.xml export-ignore
.php-cs-fixer.* export-ignore
TESTS.md export-ignore
.env.example export-ignore
CONTRIBUTING.md export-ignore

# Filter für selektives Pushen zu unterschiedlichen Remotes
/public/build/** filter=production-assets
/public/build/assets/** filter=production-assets
/public/build/manifest.json filter=production-assets
/public/mix-manifest.json filter=production-assets
